:root {
    --font-xl: 1.25rem;
    --font-lg: 1.15rem;
    --font-reg: 1rem;
    --font-sm: 0.75rem;

    --font-clr-subtext: #777;
    --font-clr-public: darkgreen;
    --font-clr-private: orange;

    --style-clr-primary: rgb(126, 126, 233);
}

@media (min-width: 400px) {
    :root {
        --font-xl: 1.75rem;
        --font-lg: 1.25rem;
        --font-reg: 1rem;
        --font-sm: 0.75rem;
    }

    .app-container {
        max-width: 800px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    -webkit-box-shadow: 0 4px 8px -4px rgb(202, 200, 200);
    -moz-box-shadow: 0 4px 8px -4px rgb(202, 200, 200);
    box-shadow: 0 4px 8px -4px rgb(202, 200, 200);
}

.header-font {
    font-size: var(--font-lg);
}

.header-text {
    cursor: pointer;
}
.nav-elements {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
}

.nav-element {
    cursor: pointer;
    margin: 10px;
    font-size: var(--font-reg);
}

.app-container {
    width: 90%;
    margin: 4em auto;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

.link:hover {
    color: var(--style-clr-primary);
}

.event {
    border-bottom: 1px solid gray;
    margin: 1em;
}

.event-header {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-sm);
    background-color: lightblue;
    margin-bottom: 1em;
}
.event-name,
.event-description {
    margin-bottom: 8px;
}
.public-text,
.event-host,
.event-name,
.event-description {
    padding: 0 16px;
}

.event-name {
    font-size: var(--font-lg);
}

.public-text,
.event-host,
.event-description {
    font-size: var(--font-reg);
}

.event-detail-container {
    margin-top: -2em;
    padding: 2em;
    min-height: 60vh;
    border: 1px solid red;
}

.event-detail-header {
    font-size: var(--font-xl);
}

.event-detail-subheader {
    font-size: var(--font-lg);
}

.event-creation-form,
.login-form,
.signup-form {
    display: flex;
    flex-direction: column;
}

.text-input {
    padding: 1em;
    border-radius: 8px;
    margin: 0.25em;
    border: 1px solid gray;
}

.btn {
    margin: 0.5em;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', 'sans-serif';
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--style-clr-primary);
}

.btn-edit {
    background-color: white;
    color: lightblue;
    border: 2px solid lightblue;
}

.btn-edit:hover {
    background-color: lightblue;
    color: white;
}
.btn-delete {
    background-color: white;
    color: lightcoral;
    border: 2px solid lightcoral;
}

.btn-delete:hover {
    background-color: lightcoral;
    color: white;
}
.reduced-width {
    max-width: 250px;
}

.underline {
    text-decoration: underline;
}

.near-me-zip {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-invitation {
    border: 1px solid red;
    margin: 1em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.accept-icon {
    background-color: lightgreen;
    color: white;
    padding: 16px;
    border-radius: 50%;
}

.decline-icon {
    background-color: coral;
    color: white;
    padding: 16px;
    border-radius: 50%;
}

.profile-image {
    height: 200px;
    width: 200px;
}
